@import url("https://fonts.googleapis.com/css2?family=Aboreto&family=Inter&family=Raleway:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Raleway", sans-serif;
}
.app {
  margin: 0 100px;
  position: relative;
}

.error {
  width: 500px;
  background-color: hsl(0, 98%, 61%);
  color: white;
  padding: 1rem;
  max-width: 90vw;
  border-radius: 7px;
}
a {
  text-decoration: none;
  color: inherit;
}
.styled-scrollbar::-webkit-scrollbar {
  width: 0.3rem;
}
.styled-scrollbar::-webkit-scrollbar-track {
  background-color: #ccc;
  border-radius: 7px;
}
.styled-scrollbar::-webkit-scrollbar-thumb {
  background-color: #5ece7b;
  border-radius: 7px;
}
.background::after {
  content: "";
  background-color: #39374838;
  position: absolute;
  top: 84px;
  left: -100px;
  right: -100px;
  bottom: 0;
  z-index: 2;
}
.content-center {
  display: grid;
  place-content: center;
  min-height: 100vh;
  font-size: 3rem;
}
@media (max-width: 1024px) {
  .app {
    margin: 0 3rem;
  }
  .background::after {
    left: -3rem;
    right: -100%;
  }
}
.wrapper {
  max-width: 1350px;
  margin: auto;
}
