.product-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  gap: 2.5rem;
  padding-bottom: 3rem;
}

.product {
  width: 356px;
  border: 10px solid white;
  transition: 0.5s;
  z-index: 1;
}
.product:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.144);
}
.image {
  height: 338px;
  overflow: hidden;
  object-fit: contain;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.image img {
  max-width: 100%;
}
.price,
.name {
  line-height: 28px;
  font-size: 18px;
  color: #1d1f22;
}
.name {
  margin-top: 20px;
  font-weight: 300;
}
.name span {
  cursor: pointer;
}
.name a {
  color: #1d1f22;
}
.price {
  font-size: 18px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0em;
}
.image-cart {
  position: relative;
}
.cart-icon {
  width: 0;
  height: 0;
  background-color: #5ece7b;
  border-radius: 50%;
  place-content: center;
  cursor: pointer;
  position: absolute;
  right: 1rem;
  bottom: -20px;
  transition: 0.5s;
  display: grid;
  overflow: hidden;
}
.cart-icon:hover {
  background-color: #74df91;
}

.cart-icon img {
  filter: brightness(100);
}

.product.instock:hover .image-cart .cart-icon {
  width: 50px;
  height: 50px;
}
.outstock .image-cart .image::after {
  content: "OUT OF STOCK";
  position: absolute;
  background: hsla(0, 0%, 79%, 0.233);
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  color: #8d8f9a;
  font-size: 24px;
}
.grey {
  color: #8d8f9a;
}
